.about {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .left {
    text-align: left;
    margin: auto;
    padding: 1rem;
    max-width: 550px;
}

.about .left p {
    margin: 1.2rem 0;
}

.about .right {
    max-width: 700px;
}

.right .img-container {
    padding-right: 100px;
}

.right .img {
    max-width: 90%;
    border: 1px solid #333;
    border-radius: 5px;
}

.right .top {
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}


.about-new .left-new {
    text-align: left;
    margin: auto;
    padding: 70px 220px;
}

.about-new .left-new h1 {
    padding-bottom: 20px;
}

.card-container2 {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.new-class {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 740px) {
    .card-container2 {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 640px) {
    .about .left {
        text-align: center;
    }
    .about-new .left-new {
        text-align: center;
        padding: 70px 50px;
        
    }
    .right .img-container {
        padding-right: 0px;
    }
}
