.mask {
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: contain;
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');

}

.intro-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
}

.hero {
    height: 100%;
    width: 100%;
}

.hero .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.hero .content {
    font-size:  4rem;
    padding: 0.6rem 0 1.5rem;
}

.hero .content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}

.content .btn {
    margin: 1rem 0.4rem;
}

@media screen and (max-width:640px) {
    .hero .content h2 {
        font-size: 3rem;
    }
    .hero .content p {
        font-size: 1.4rem;
    }
}